@font-face {
    font-family: "SpaceMono-bold";
    src: url(../../assets/font/SpaceMono-Bold.ttf);
}

@font-face {
    font-family: "SpaceMono-bolditalic";
    src: url(../../assets/font/SpaceMono-BoldItalic.ttf);
}

@font-face {
    font-family: "SpaceMono-italic";
    src: url(../../assets/font/SpaceMono-Italic.ttf);
}

@font-face {
    font-family: "SpaceMono-regular";
    src: url(../../assets/font/SpaceMono-Regular.ttf);
}